<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="title">
    <h1>Seguimiento de Recuperación</h1>
</div>

<div class="square">
    <div class="icon">
        <img src="assets/icon3.svg">
    </div>
    <div class="title2">
        <h1>Tiempo de <br> Recuperación</h1>
    </div>
    <div class="days">
        <h1>7 días</h1>
    </div>
    <div class="text">
        <p>de 14 estimados</p>
    </div>
</div>

<div class="square2">
    <div class="icon2">
        <img src="assets/Stock.svg">
    </div>
    <div class="title3">
        <h1>Nivel de <br> Dolor</h1>
    </div>
    <div class="days2">
        <h1>3/10</h1>
    </div>
    <div class="text2">
        <p>Mejorando</p>
    </div>
</div>

<div class="square3">
    <div class="icon3">
        <img src="assets/icon4.svg">
    </div>
    <div class="title4">
        <h1>Ejercicios <br> Completados</h1>
    </div>
    <div class="days3">
        <h1>12</h1>
    </div>
    <div class="text3">
        <p>Esta semana</p>
    </div>
</div>

<div class="square5">
    <h1>Próximos Pasos</h1>

    <div class="square6">
        <h1>Continuar con ejercicios de bajo impacto</h1>
        <p>2 días más</p>
        <div class="number">
            <img src="assets/number 1.svg">
        </div>
    </div>

    <div class="square7">
        <h1>Introducir caminata suave</h1>
        <p>En 3 días</p>
        <img src="assets/number 2.svg">
    </div>

    <div class="square8">
        <h1>Retomar rutina normal</h1>
        <p>En 7 días</p>
        <img src="assets/number 3.svg">
    </div>
    
</div>