<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="title">
    <h1>Actualizar Estado Físico</h1>
</div>  

<div class="square">
    <div class="title1">
    <img src="assets/icon1.svg">
    <h1>Reportar Lesión o Malestar</h1>
</div>

    <div class="title2">
        <h1>Área afectada</h1>
    </div>

    <div class="option-container">
        <select id="nivel" class="option">
            <option value="principiante">Tobillo</option>
            <option value="intermedio">Rodilla</option>
            <option value="avanzado">Espalda</option>
        </select>
    </div>

    <div class="title3">
        <h1>Nivel de dolor (1-10)</h1>
    </div>

    <div class="img">
     <img src="assets/Group 3.svg">
    </div>

    <div class="describe">
        <h1>Descripción</h1>
    </div>
    
    <div class="square2">
        <p>Describe cómo ocurrió la lesión...</p>
    </div>

    <button class="button" (click)="onLogin()">
        <span>Ajustar mi Plan</span>
    </button>

</div>

