<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<!-- <app-layout></app-layout> -->
<div class="title">
    <h1>Secciones</h1>
</div>

<div class="square" (click)="onLogin()">
    <h1>Actualizar estado físico</h1>
    <p> Actualiza tu progreso.</p>
</div>

<div class="square2">
    <h1>Cambio de Plan personalizado</h1>
    <p>Ajusta tu plan de entrenamiento.</p>
</div>

<div class="square3">
    <h1>Desafíos</h1>
    <p>Supera retos y mejora tu rendimiento.</p>
</div>
