<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>
<!-- ---------------------------------------------------------------------------------------------------------------------------------------- -->

<div class="title">
    <h1>Tu Plan Ajustado</h1>
</div>

<div class="square">
    <h1>Ejercicios Recomendados</h1>

    <div class="square2">
        <p>Bicicleta estática - 20 min</p>
        <img src="assets/icon7.svg">
    </div>

    <div class="square3">
        <p>Ejercicios de core - 15 min</p>
        <img src="assets/icon7.svg">
    </div>

    <div class="square4">
        <p>Estiramiento suave - 10 min</p>
        <img src="assets/icon7.svg">
    </div>

    <div class="square5">
        <h1>Ejercicios a Evitar</h1>
    
        <div class="square6">
            <p>Saltos</p>
            <img src="assets/icon2.svg">
        </div>
    
        <div class="square7">
            <p>Caminata de alto impacto</p>
            <img src="assets/icon2.svg">
        </div>
    
        <div class="square8">
            <p>Ejercicios de tobillo</p>
            <img src="assets/icon2.svg">
        </div>

        <button class="button" (click)="onLogin()">
            <span>Comenzar Recuperación</span>
        </button>
    
</div>

